* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

#header {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 30px;
    font-weight: bold;
  }

  .login {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 600;
    align-items: baseline;
    gap: 30px;
    
    a {
      text-decoration: none;
      color: #000;
    }
  
    a:nth-child(2) {
      padding: 10px 32px;
      font-size: 20px;
      font-weight: 500;
      color: #fff;
      background-color: #FF7048;
      border-radius: 12px;
    }
  }

}

#hero {
  margin-top: 35px;
  background-image: url(/assets/img/Hero-Picture.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 30px;

  .title-hero {
    h1 {
      position: absolute;
      font-weight: bold;
      font-size: 70px;
      line-height: 80px;
      max-width: 427px;
      max-height: 160px;
      top: 100px;
      left: 100px;
      color: #24201D;
    }
  
    .weather {
      position: absolute;
      top: 298px;
      left: 108px;
  
      p {
        font-size: 18px;
        color: #24201D;
        font-weight: 600;
        opacity: 0.6;
      }
  
      img {
        cursor: pointer;
      }
    }
  }
}

#info-panel {
  position: relative;
  
  .info-panel {
    z-index: 99px;
    background-color: #fff;
    margin-top: -68px;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 200px 400px 100px rgba(201,201,201,0.2);
    -webkit-box-shadow: 0px 200px 400px 100px rgba(201,201,201,0.2);
    -moz-box-shadow: 0px 200px 400px 100px rgba(201,201,201,0.2);
  }

  .panel {
    padding: 40px 50px 34px 50px;
    align-items: center;
    
    .border-panel {
      border-right: 3px solid #e3e3e3;
      border-radius: 2px;
      margin-right: 20px;
      height: 50px;
    }

    .border-panel:nth-child(3) {
      border: none;
    }

    .activity, .date {
      margin-left: 5px;
    }

    h4 {
      margin-bottom: 6px;
      font-size: 21px;
      font-weight: bold;
      color: #000;
    }
    
    p {
      font-size: 15px;
      font-weight: 500;
      opacity: 0.5;
      color: #000;
      
      span {
        margin-left: 15px;

        img {
          width: 22px;
          margin-top: -12px;
        }
      }
    }

    .search {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;

      img {
        border-radius: 20px;
        padding: 24px;
        background-color: #FC8868;
      }
    }
  }
}

#building {
  margin-top: 9rem;
  margin-bottom: 3rem;
  
  .title-building {
    margin-bottom: 3rem;
  
    h3 {
      font-size: 26px;
      font-weight: bold;
      color: #000;
    }
    
    p {
      font-size: 16;
      font-weight: 500;
      color: #000;
      opacity: 0.5;
      max-width: 358px;
      margin: auto;
    }
  }

  .card {
    width: 375px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .card:hover {
    outline: 3px solid #3A8375;
    transform: translateY(-10px);
  }

  .card-img img:nth-child(1) {
    position: relative;
  }
  .card-img img:nth-child(2) {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  
  .card-body {
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 10px;
  }
  
  .card-img-top {
    padding: 20px 20px 0 20px;
    border-radius: 10px;
  }
  
  .card-location {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    
    h5 {
      font-size: 20px;
      color: #040405;
      font-weight: 500;
    }

    .location {
      display: flex;
      gap: 8px;

      p {
        font-size: 14px;
        font-weight: 500;
        color: #adadad;
      }
    }
  }

  .card-price {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 6px;

    h5 {
      font-size: 24px;
      color: #3A8375;
      font-weight: 500;
    }

    .price {
      p {
        display: flex;
        justify-content: flex-end;
        font-size: 12px;
        font-weight: 500;
        color: #adadad;
      }
    }
  }
}

#gallery {
  margin-bottom: 3rem;

  .title-gallery {
    margin-bottom: 3rem;
  
    h3 {
      font-size: 26px;
      font-weight: bold;
      color: #000;
    }
    
    p {
      font-size: 16;
      font-weight: 500;
      color: #000;
      opacity: 0.5;
      max-width: 273px;
      margin: auto;
    }
  }

  .card-gallery {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .overlay img {
      position: relative;
      cursor: pointer;
      width: 400px;
      height: 480px;
      border-radius: 15px;
    }
    
    .content {
      background: radial-gradient(#24201d36, #24201d7c);
      position: absolute;
      top: 0px;
      margin: auto;
      width: 400px;
      height: 480px;
      padding-left: 30px;
      padding-top: 50px;
      border-radius: 15px;
      opacity: 0;
      cursor: pointer;
      transition: .2s ease-in-out;
      
      h5 {
        font-size: 20px;
        color: #fff;
        font-weight: 600;
      }
    
      .location {
        display: flex;
        gap: 8px;
    
        p {
          font-size: 14px;
          font-weight: 500;
          color: #adadad;
        }
      }

      .down {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .content:hover {
      opacity: 0.9;
    }
    
    .rating-gallery {
      img {
        position: absolute;
        top: 55px;
        right: 0px;
      }
    }
  }
  .card-gallery-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img {
      width: 340px;
      height: 215px;
      cursor: pointer;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


// Mobile Screen
@media (max-width: 600px) {
  #header {
    margin-top: 20px;
    .logo {
      margin-left: 1em;
    }
    .login {
      gap: 15px;
      a {
        font-size: 14px;
      }
      a:nth-child(2) {
        padding: 8px 16px;
        font-size: 14px;
      }
    }
  }

  #hero {
    margin-top: 20px;
    height: 500px;
    .title-hero {
      h1 {
        font-size: 45px;
        line-height: 50px;
        max-width: 250px;
        left: 50px;
      }
      .weather {
        top: 280px;
        left: 54px;
      }
    }
  }

  #info-panel {
    .info-panel {
      margin-top: -90px;
    }
    .panel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      padding-top: 30px;
      padding-bottom: 20px;
      padding-left: 20px;

      .activity, .date {
        margin-left: 0px;
      }
      .border-panel {
        border: none;
      }
      h4 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
    .col-lg:nth-child(4) {
      display: flex;
      justify-content: center;
      .search {
        img {
          padding: 18px;
          transform: scale(0.8);
        }
      }
    }
  }

  #building {
    margin-top: 18rem;
    .title-building {
      h3 {
        font-size: 22px;
      }
      p {
        font-size: 14px;
        max-width: 300px;
      }
    }
  }

  #gallery {
    margin-bottom: 1rem;
    .title-gallery {
      margin-bottom: 2rem;
      h3 {
        font-size: 22px;
      }
      p {
        font-size: 14px;
        max-width: 300px;
      }
    }
    .card-gallery {
      .overlay img {
        height: 380px;
      }
      .content {
        height: 380px;
        padding-left: 20px;
        padding-top: 30px;
        h5 {
          font-size: 16px;
        }
        .location {
          p {
            font-size: 12px;
          }
        }
      }
      .rating-gallery {
        img {
          top: 35px;
        }
      }
    }
  }
}